.icon {
	background-image: url(sprite.svg#camera);
}

.icon {
	background-image: url("sprite.svg#camera");
}

.icon {
	background-image: url(sprite.svg#pencil);
	color: transparent;
	fill: red;
	stroke: black;
}

.icon {
	background-image: url(sprite.svg#pencil);
	fill: blue;
}

.icon {
	background-image: url(sprite.svg#none);
}

.icon {
	background-image: url(sprite.svg#);
}

.icon {
	background-image: url(sprite.svg);
}

.icon {
	background-image: url(empty.svg#none);
}

.icon {
	background-image: url(empty.svg#);
}

.icon {
	background-image: url(empty.svg);
}
